<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="to-do-list">
        <li ng-repeat="toDoList in $ctrl.toDoLists | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail todolist-list-item">
          <a href="#!/to-do-lists/{{toDoList.id}}" class="thumb">
            {{toDoList.name}}
          </a>
          <a href="#!/to-do-lists/{{toDoList.id}}">{{toDoList.name}}</a>
          <p>{{toDoList.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
